# Archivos de compilación de NetBeans
/build/
/dist/
/nbproject/private/
/nbproject/Makefile-*.mk
/nbproject/Package-*.bash

# Archivos compilados de Java
*.class
*.jar

# Logs y temporales
*.log
*.tmp